body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #EFAA64;;
    background-size: cover;
}

#board {
    background-color: skyblue;
    /* background-image: url(); */
}